/* HIDE RADIO */
[type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type=radio] + img {
  cursor: pointer;
}

/* CHECKED STYLES */
.selected-type {
  border: 3px solid #33d694;
  box-shadow: 0 0 20px 0 rgba(27,188,155,.5)
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  margin-right: 20px;
  font-weight: 700;
}

.inputs-holder{
  padding: 20px 10px;
}

.radio-icon {
  font-weight: 700;
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 7px 13px 1px rgba(0,0,0,.15);
    cursor: pointer;
    align-items: center;
    justify-content: center;
    padding: 20px;
    transition: .1s ease-in;
}

.r-icon{
  font-size: 35px;
  color: #33d694;
}

.radio-holder{
  padding: 20px 0px;
  display: flex;
  align-items: center;
}
